:root {
    --post-text-color: black;
    --post-bg-color: #FFDFDF;
    --background-image-temp: linear-gradient(120deg, white, #FFDFDF);
    --box-shadow-temp: 2px 2px 3px #FFDFDF;
    --box-shadow-temp-2: 2px 2px 3px grey, -2px -2px 3px lightgray;
}

.page {
    text-align: center;
    background-image: var(--background-image-temp);
    color: var(--post-text-color);
}

.viewpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: var(--background-image-temp);
    color: var(--post-text-color);
}

.viewTitle {
    color: var(--post-text-color);
    text-shadow: 1px 1px 2px green;
    font-size: 5vw;
}

.viewJournal {
    color: black;
    background-color: var(--post-bg-color);
    text-align: left;
}

.myBtn {
    color: var(--post-text-color);
    border-radius: 2rem;
    box-shadow: var(--box-shadow-temp-2);
}

.navbar_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--post-bg-color);
    padding: 1px;
    margin: 0 0 3em 0;
    box-shadow: var(--box-shadow-temp-2);
    border-radius: 1rem;
}

.navLogo {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-around;
}

.navBtnA {
    color: var(--post-text-color);
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    padding-top: 25px;
    margin-right: 20px;
}

.navTilte {
    margin-left: 20px;
    color: var(--post-text-color);
}

.mainpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.displayItem {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 500px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-temp-2);
    padding: 20px;
    margin: 10px;
    margin-bottom: 45px;
}

.topdisplayItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleOutput {
    width: auto;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.journalOutput {
    display: flex;
    flex-direction: column;
    line-height: 1em;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: justify;
}

.postimage {
    width: 100%;
    height: 85%;
    margin: 5px;
}

.viewimage {
    float: left;
    width: 30vw;
    height: 30vh;
    margin: 5px;
}

.button_group {
    margin-top: 2em;
    margin-bottom: 2em;
}

.submitForm {
    margin-top: 20px;
    max-width: 60%;
    width: 50%;
    background-color: var(--post-bg-color);
    border-radius: 1rem;
    border-color: aliceblue;
    height: 30px;
    color: var(post-text-color);
}

.cancelForm {
    margin-top: 20px;
    max-width: 60%;
    height: 30px;
    width: 50%;
    background-color: var(--post-bg-color);
    border-radius: 1rem;
    border-color: aliceblue;
    color: var(post-text-color);
}

.contentInput {
    border-radius: .3rem;
    width: auto;
}

.viewcontent {
    margin-top: auto;
    margin-bottom: 2rem;
}

input[type=file]::file-selector-button {
    color: var(--post-text-color);
    background-color: var(--post-bg-color);
    border-radius: 1rem;
    border-color: aliceblue;
    height: 30px;
}

.dropbtn {
    background-color: transparent;
    color: darkgrey;
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    color: gray;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--post-bg-color);
    min-width: 160px;
    overflow: auto;
    right: 0;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: var(--post-bg-color);
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}