.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: radial-gradient( circle, #FFDFDF 60%, pink 70%, lightpink 90%);
}

.register_page {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 700px;
    min-width: 300px;
    min-height: 450px;
    width: 40vw;
    height: 50vw;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    border-radius: .5em;
    background: inherit;
    filter: blur();
}

.label_register {
    margin-left: 0;
}

.a-link {
    color: lightpink;
    text-decoration: none;
}