.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    /* background-image: radial-gradient( circle, #FFDFDF 60%, pink 70%, lightpink 90%); */
}

.register_page {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 700px;
    min-width: 300px;
    min-height: 450px;
    width: 50vw;
    height: 50vw;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    border-radius: .5em;
    background: inherit;
    filter: blur();
}

.label_register {
    margin-left: 0;
}
.line_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.input_box{
    align-items: center;
    margin-left: 20px;
    height: 1em;
}
.submit_input{
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.prompt_line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px ;
}
.a-link {
    color: lightpink;
    text-decoration: none;
}