:root {
    --view-text-color: black;
    /* --view-bg-color: #FFDFDF; */
    --view-bg-color: white;
    /* --background-image-temp: linear-gradient(120deg, white, #FFDFDF); */
    --box-shadow-temp: 2px 2px 3px #FFDFDF;
    --box-shadow-temp-2: 2px 2px 3px grey, -2px -2px 3px lightgray;
}

.page {
    text-align: center;
    background-image: var(--background-image-temp);
    color: var(--view-text-color);
}

.view_navbar_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-image-temp);
    padding: 1px;
    margin: 0 0 3em 0;
    box-shadow: var(--box-shadow-temp-2);
    border-radius: 1rem;
}

.view_navTilte {
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin: 1em;
}

.view_navLogo {
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin: .3em;
}

.viewpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: var(--background-image-temp);
    color: var(--view-text-color);
}

.viewTitle {
    color: var(--view-text-color);
    text-shadow: 1px 1px 2px green;
    font-size: 5vw;
}

.viewJournal {
    color: black;
    background-color: var(--background-image-temp);
    text-align: left;
}

.viewimage {
    float: left;
    width: 30vw;
    height: 30vh;
    margin: 5px;
}

.myBtn {
    color: var(--view-text-color);
}